body{
    background-image: url(images.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    font-size: 2.8rem;
    color: white;
}

.btn{
    text-align: center;
    border: 5px solid grey;
    border-radius: 20px;
}