*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}

.grid-container{
   
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-container div p{
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.grid-container div{
    border: solid;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}